@import "fonts";

a, button {
    text-decoration: none !important;
    -webkit-transition: 0.22s;

    svg {
        -webkit-transition: 0.22s;
    }
}

a:hover, button:hover {
    transition: 0.15s;

    svg {
        transition: 0.15s;
    }
}

ol,
ul {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.cep-mask, .cpf-mask, .cvv-mask, .phone-mask, .number-mask, .date-mask {
    display: block;
}


/* GERAIS */
body {
    background-color: #212121;
    font-family: 'OpenSans' !important;
}

.main-container {
    max-width: 1120px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.titulo-section {
    margin-bottom: 32px;

    h2 {
        font-weight: 600;
        font-size: 24px;
        color: #FAFAFA;
        font-family: OpenSans;
        display: inline;
        position: relative;
    }

    h2:after {
        content: '';
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgba(255,152,0,1) 26%, rgba(66,66,66,1) 26%);
        position: absolute;
        bottom: -5px;
        right: 0;
    }
}


header {
    padding-top: 52px;

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    .nome {
        a {
            color: #FF9800;
            font-weight: 700;
        }
    }

    .menu {
        ul {
            display: flex;

            li + li {
                margin-left: 32px;
            }

            a {
                font-size: 16px;
                color: #FAFAFA;
            }

            a:hover {
                color: #FF9800;
            }
        }
    }
}


#sobre {
    padding-top: 60px;

    p {
        font-size: 16px;
        font-weight: 400;
        color: #FAFAFA;
        margin: 0;
    }

    h1 {
        color: #FF9800;
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 20px;

        span {
            font-weight: 700;
        }
    }


    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        max-width: 357px;
        width: 100%;
        height: 357px;

        img {
            width: 100%;
            height: inherit;
            border-radius: 100%;
        }
    }

    .infos {
        max-width: 548px;
        width: 100%;
        margin-left: 24px;
    }


    .links {
        margin-top: 31px;

        a + a {
            margin-left: 29px;
        }

        a {
            svg {
                fill: #FF9800;
            }
        }

        a:hover {
            svg {
                fill: #FFB74D;
            }
        }
    }
}


#conhecimentos {
    padding-top: 80px;

    .content-conhecimentos {
        display: flex;

        .mobile {
            display: flex;

            #card + #card {
                margin-left: 24px;
            }
        }

        .mobile + .mobile {
            margin-left: 24px;
        }
    }
}

.section-flex {
    padding-top: 60px;

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    #idiomas {
        width: 50%;

        .content-idiomas {
            display: flex;

            .info-idioma + .info-idioma {
                margin-left: 40px;
            }
        }

        .info-idioma {
            display: flex;

            p {
                color: #FAFAFA;
                margin: 0;
            }

            .idioma {
                font-weight: 600;
                margin-bottom: 4px;
            }

            .nivel {
                font-weight: 300
            }

            .icon {
                margin-right: 19px;
            }
        }
    }

    #hobbies {
        width: 50%;
    }
}

#experiencia {
    padding-top: 60px;


    .acc {
        background: #424242;
        border: 2px solid #FF9800;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 24px;
        width: 100%;

        h4 {
            font-size: 16px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: #FAFAFA;

            span {
                font-weight: 400;
            }
        }


        p {
            font-size: 16px;
            font-weight: 400;
            color: #FAFAFA;
        }
    }
}












































#about {
    padding-top: 80px;

    .image {
        max-width: 300px;
        width: 100%;
        height: 300px;
        margin-right: 30px;


        .photo {
            width: 100%;
            height: inherit;
            object-fit: cover;
            object-position: center center;
            border-radius: 100%;
        }
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .bottom-footer {
        display: flex;
    }

    .midias {
        display: flex;
        justify-content: flex-end;


        a + a {
            margin-left: 28px;
        }

        a {
            display: block;
            border-radius: 5px;

            svg {
                fill: #fff;
            }
        }

        a:hover {
            svg {
                fill: #fe7c00;
            }
        }
    }
}



/*#knowledges {
    padding-top: 80px;

    .box {
        background-color: #eeeeee;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 10px);
        margin-top: 20px;
        border-radius: 10px;
        min-height: 100px;

        h2 {
            margin: 0;
        }

        .logo {
            margin-right: 10px;
        }
    }

    text-align: center;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}*/

/*#experience {
    padding-top: 80px;

    .acc {
        margin-bottom: 15px;
        background-color: rgb(230,230,230);
        border-radius: 10px;
        color: #000;

        .click-area {
            display: flex;
            align-items: center;
            background-color: rgb(230,230,230);
            padding: 10px;
            border-radius: 10px;


            h4 {
                margin: 0;
            }

            svg {
                stroke: #fe7c00;
                margin-right: 15px;
            }
        }

        .content-experience {
            background-color: rgb(230,230,230);
            padding: 25px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}*/

#portfolio {
    padding-top: 80px;

    .box-site {
        background-color: rgb(230,230,230);
        border-radius: 10px;
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 15px;

        .image {
            max-width: 300px;
            width: 100%;
            height: 170px;


            img {
                width: 100%;
                height: inherit;
                object-fit: contain;
                overflow: hidden;
            }
        }

        .text {
            color: #000;
        }
    }

    .box-site:hover {
        .image {


            img {
                transform: scale(1.1);
            }
        }

        .text {
            color: #fe7c00;
            font-size: 18px;
        }
    }
}


footer {
    padding-top: 80px;

    .voltar {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 31px;

        a {
            display: block;
            color: #fafafa;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding-bottom: 21px;

            svg {
                margin-left: 21px;
                fill: #fafafa;
            }
        }

        a:hover {
            color: #fe7c00;

            svg {
                fill: #fe7c00;
            }
        }
    }
}





#card {
    max-width: 100%;
    perspective: 1000px;
    /*    margin: 15px;*/
}

#card, #flip-card {
    position: relative;
    width: 167px;
    height: 112px;
}

#flip-card {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

#flip-card:Hover {
    transform: rotateY(180deg);
}

#flip-card-front, #flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#flip-card-front, #flip-card-back {
    border-radius: 16px;
    backface-visibility: hidden;
    font-family: Verdana;
    font-size: 1em;
}

#flip-card-back {
    /*    box-shadow: 0 0 5px rgb(230,230,230);*/
    background-color: #424242;
    transform: rotateY(180deg);
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #FF9800;
}

#flip-card-front {
    /*    box-shadow: 0 0 5px rgb(22,22,22);*/
    background-color: #424242;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FF9800;
}
