@import "fonts";

a, button {
    text-decoration: none !important;
    -webkit-transition: 0.22s;

    svg {
        -webkit-transition: 0.22s;
    }
}

a:hover, button:hover {
    transition: 0.15s;

    svg {
        transition: 0.15s;
    }
}

ol,
ul {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.cep-mask, .cpf-mask, .cvv-mask, .phone-mask, .number-mask, .date-mask {
    display: block;
}


.button-action {
    max-width: 220px;
    width: 100%;
    padding: 5px;
    /*    border-width: 2px;
    border-style: solid;
    border-color: #f7f7f7;
    border-radius: 50px;*/
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    .texto {
        z-index: 1;
        position: relative;
        font-family: Poppins !important;

        span {
            color: #f7f7f7;
            text-transform: uppercase;
            line-height: 16px;
        }

        .aparecer {
            display: none;
        }
    }

    .ball {
        z-index: 10;
        position: absolute;
        right: 8px;
        -webkit-transition: 0.2s linear;

        .settings-ball {
            width: 36px;
            height: 36px;
            background-image: url('../images/whatsapp.png');
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 100%;

            .position-icon {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        /*     .whatsapp {
            display: none;
            fill: #0000ef;
        }

        .seta {
            display: block;
            stroke: #f7f7f7;
        }*/
    }
}

.button-action:hover {
    .texto {

        span {
            color: #4caf50;
        }

        .desaparecer {
            display: none !important;
        }

        .aparecer {
            display: block;
        }
    }

    .ball {
        transition: 0.2s linear;
        right: 81%;

        .settings-ball {
            background-image: url('../images/whatsapp.png');
        }
    }
}

@keyframes piscar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tituloAnimado::after {
    content: '';
    position: relative;
    border-right: 4px solid #fff;
    animation: piscar 700ms linear infinite;
}

.title {
    margin-bottom: 15px;
    color: #fe7c00;
}


header {
    width: 100%;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 15px;
    }

    ul {
        li {
            display: inline-block;

            a {
                display: inline-block;
                color: #fafafa;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
            }

            a:hover {
                color: #fe7c00;
            }
        }

        li + li {
            margin-left: 30px;
        }
    }
}


#about {
    padding-top: 80px;

    .image {
        max-width: 300px;
        width: 100%;
        height: 300px;
        margin-right: 30px;


        .photo {
            width: 100%;
            height: inherit;
            object-fit: cover;
            object-position: center center;
            border-radius: 100%;
        }
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .bottom-footer {
        display: flex;
    }

    .midias {
        display: flex;
        justify-content: flex-end;


        a + a {
            margin-left: 28px;
        }

        a {
            border: 3px solid #fff;
            display: block;
            border-radius: 5px;
            background-color: #fff;
        }

        a:hover {
            background-color: #fe7c00;
            border: 3px solid #fe7c00;
        }
    }
}



#knowledges {
    padding-top: 80px;

    .box {
        background-color: #eeeeee;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 10px);
        margin-top: 20px;
        border-radius: 10px;
        min-height: 100px;

        h2 {
            margin: 0;
        }

        .logo {
            margin-right: 10px;
        }
    }

    text-align: center;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#experience {
    padding-top: 80px;

    .acc {
        margin-bottom: 15px;
        background-color: rgb(230,230,230);
        border-radius: 10px;
        color: #000;

        .click-area {
            display: flex;
            align-items: center;
            background-color: rgb(230,230,230);
            padding: 10px;
            border-radius: 10px;


            h4 {
                margin: 0;
            }

            svg {
                stroke: #fe7c00;
                margin-right: 15px;
            }
        }

        .content-experience {
            background-color: rgb(230,230,230);
            padding: 25px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}

#portfolio {
    padding-top: 80px;

    .box-site {
        background-color: rgb(230,230,230);
        border-radius: 10px;
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 15px;

        .image {
            max-width: 300px;
            width: 100%;
            height: 170px;


            img {
                width: 100%;
                height: inherit;
                object-fit: contain;
                overflow: hidden;
            }
        }

        .text {
            color: #000;
        }
    }

    .box-site:hover {
        .image {


            img {
                transform: scale(1.1);
            }
        }

        .text {
            color: #fe7c00;
            font-size: 18px;
        }
    }
}


footer {
    padding-top: 80px;

    .voltar {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 31px;

        a {
            display: block;
            color: #fafafa;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding-bottom: 21px;

            svg {
                margin-left: 21px;
                fill: #fafafa;
            }
        }

        a:hover {
            color: #fe7c00;

            svg {
                fill: #fe7c00;
            }
        }
    }
}





#card {
    max-width: 100%;
    perspective: 1000px;
    margin: 15px;
}

#card, #flip-card {
    position: relative;
    width: 280px;
    height: 230px;
}

#flip-card {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

#flip-card:Hover {
    transform: rotateY(180deg);
}

#flip-card-front, #flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#flip-card-front, #flip-card-back {
    border-radius: 10px;
    backface-visibility: hidden;
    font-family: Verdana;
    font-size: 1em;
}

#flip-card-back {
    box-shadow: 0 0 5px rgb(230,230,230);
    background-color: rgb(230,230,230);
    transform: rotateY(180deg);
    color: #222;
}

#flip-card-front {
    box-shadow: 0 0 5px rgb(22,22,22);
    background-color: rgb(230,230,230);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        margin-bottom: 8px;
    }
}
