@import "fonts";

a, button {
    text-decoration: none !important;
    -webkit-transition: 0.22s;

    svg {
        -webkit-transition: 0.22s;
    }
}

a:hover, button:hover {
    transition: 0.15s;

    svg {
        transition: 0.15s;
    }
}

ol,
ul {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.cep-mask, .cpf-mask, .cvv-mask, .phone-mask, .number-mask, .date-mask {
    display: block;
}


/* GERAIS */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255,152,0,1);
    border-radius: 10px;
}

body {
    background-color: #212121;
    font-family: 'OpenSans' !important;
}

.main-container {
    max-width: 1120px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-section {
    margin-bottom: 32px;

    h2 {
        font-weight: 600;
        font-size: 24px;
        color: #FAFAFA;
        font-family: OpenSans;
        display: inline;
        position: relative;
    }

    h2:after {
        content: '';
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgba(255,152,0,1) 26%, rgba(66,66,66,1) 26%);
        position: absolute;
        bottom: -5px;
        right: 0;
    }
}


/* MENU RESPONSIVE */

.menu-responsive {
    position: fixed;
    right: -290px;
    max-width: 290px;
    width: 100%;
    background-color: rgba(255,255, 255, 0.98);
    -webkit-transition: .25s transform;
    height: 100vh;
    top: 0;
    padding: 60px 45px 25px;
    z-index: 999;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .fechar {
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;

        svg {
            fill: #00347c;
            -webkit-transition: 0.22s;
            width: 19px;
            height: 19px;
        }

        svg:hover {
            stroke: #333333;
            transition: 0.15s;
        }
    }

    .nav-menu {
        text-align: left;
        margin-bottom: 30px;

        ul {
            li {
                margin-bottom: 15px;

                a {
                    color: #00347c;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

            li.active {
                color: #003651;
            }
        }
    }
}

.menu-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.full-page.active {
    display: block;
}

.full-page {
    content: "";
    background-color: rgba(0, 0, 0, 0.38);
    width: 1920px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: none;
    z-index: 1;
    cursor: pointer;
}

.menu-responsive.active {
    transform: translateX(-100%);
    transition: 0.15s;
    -webkit-box-shadow: 9px 0 88px -15px rgba(0,0,0,.19);
    -moz-box-shadow: 9px 0 88px -15px rgba(0,0,0,.19);
    box-shadow: 9px 0 88px -15px rgba(0,0,0,.19);
}

.menu-responsive::-webkit-scrollbar {
    width: 4px;
}

.menu-responsive::-webkit-scrollbar-thumb {
    background: #003651;
    border-radius: 10px;
}

.menu-responsive::-webkit-scrollbar-thumb:hover {
    background: #003651;
}

.block-bar {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 37px;
    cursor: pointer;

    div {
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px;
    }
}

/* SECTIONS */

header {
    padding-top: 52px;

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    .nome {
        a {
            color: #FF9800;
            font-weight: 700;
        }
    }

    .menu {
        ul {
            display: flex;

            li + li {
                margin-left: 32px;
            }

            a {
                font-size: 16px;
                color: #FAFAFA;
            }

            a:hover {
                color: #FF9800;
            }
        }
    }
}

#sobre {
    padding-top: 60px;

    p {
        font-size: 16px;
        font-weight: 400;
        color: #FAFAFA;
        margin: 0;
    }

    h1 {
        color: #FF9800;
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 20px;

        span {
            font-weight: 700;
        }
    }


    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        max-width: 357px;
        width: 100%;
        height: 357px;

        img {
            width: 100%;
            height: inherit;
            border-radius: 100%;
        }
    }

    .infos {
        max-width: 548px;
        width: 100%;
        margin-left: 24px;
    }


    .links {
        margin-top: 31px;

        a + a {
            margin-left: 29px;
        }

        a {
            svg {
                fill: #FF9800;
            }
        }

        a:hover {
            svg {
                fill: #FFB74D;
            }
        }
    }
}

#conhecimentos {
    padding-top: 80px;

    .content-conhecimentos {
        display: flex;

        .mobile {
            display: flex;

            #card + #card {
                margin-left: 24px;
            }
        }

        .mobile + .mobile {
            margin-left: 24px;
        }
    }
}

.section-flex {
    padding-top: 60px;

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    #idiomas {
        width: 50%;

        .content-idiomas {
            display: flex;
            /*            .info-idioma + .info-idioma {
                margin-left: 40px;
            }*/
        }

        .info-idioma {
            display: flex;
            margin: 20px;

            p {
                color: #FAFAFA;
                margin: 0;
            }

            .idioma {
                font-weight: 600;
                margin-bottom: 4px;
            }

            .nivel {
                font-weight: 300
            }

            .icon {
                margin-right: 19px;
            }
        }
    }

    #hobbies {
        width: 50%;
    }
}

#experiencia {
    padding-top: 60px;


    .acc {
        background: #424242;
        border: 2px solid #FF9800;
        box-sizing: border-box;
        border-radius: 16px;
        width: 100%;
        padding: 24px 24px;

        h4 {
            font-size: 16px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: #FAFAFA;

            span {
                font-weight: 400;
            }
        }


        p {
            font-size: 16px;
            font-weight: 400;
            color: #FAFAFA;
            margin: 0;
        }


        .click-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*            padding-bottom: 24px;*/
            svg {
                height: auto;
            }
        }

        .content-experience {
            padding-top: 24px;
        }
    }

    .acc.active {
        .click-area {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .acc + .acc {
        margin-top: 24px;
    }
}

#portfolio {
    padding-top: 60px;

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #fafafa;
        margin-top: 5px;
    }

    .owl-theme {
        .owl-nav {
            margin-top: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }


    a:hover {
        p{
            color: rgba(255,152,0,1);
        }
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;

    .main-container {
        display: flex;
        justify-content: flex-end;
    }

    a {
        font-size: 16px;
        color: #FAFAFA;

        svg {
            margin-left: 18px;
            fill: #fafafa;
        }
    }

    a:hover {
        color: rgba(255,152,0,1);

        svg {
            fill: rgba(255,152,0,1);
        }
    }
}


/* CARD CONHECIMENTOS*/

#card {
    max-width: 100%;
    perspective: 1000px;
    /*    margin: 15px;*/
}

#card, #flip-card {
    position: relative;
    width: 167px;
    height: 112px;
}

#flip-card {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

#flip-card:Hover {
    transform: rotateY(180deg);
}

#flip-card-front, #flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#flip-card-front, #flip-card-back {
    border-radius: 16px;
    backface-visibility: hidden;
    font-family: Verdana;
    font-size: 1em;
}

#flip-card-back {
    /*    box-shadow: 0 0 5px rgb(230,230,230);*/
    background-color: #424242;
    transform: rotateY(180deg);
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #FF9800;
}

#flip-card-front {
    /*    box-shadow: 0 0 5px rgb(22,22,22);*/
    background-color: #424242;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FF9800;
}



/* RESPONSIVE */



@media only screen and (max-width: 1100px){
    #card, #flip-card {
        width: 156px;
    }
}

@media only screen and (max-width: 1024px) {
    @import "responsive/1024";
}
